<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Title Page -->
<title>Login</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/main.css">

</head>

<body >

	<div align="center">
	<marquee>
		<strong>
		<h1>Evil Server Login</h1>
		</strong>
	</marquee>
</div>

</br>
</br>
</br>


	<div align="center" >
		<form></br></br>
			<table>
				<tr>
					<th><label for="name">Username:</label> <input type="name">
					</th>
				</tr>
				<tr>
					<th>
						<!-- Password --> <label for="username">Password:</label> <input
						type="password">
					</th>
				</tr>
				<tr>
					<th>
						<div id="lower">
							<input type="checkbox"><label class="check"
								for="checkbox">Keep me logged in</label>
							<!-- Submit Button -->
							<input type="submit" value="Login">
						</div>
					</th>
				</tr>
			</table>
			</br></br>
		</form>
	</div>
</body>
</html>